<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#02be6e" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Primary Meta Tags -->
    <title>Pixabay Search</title>
    <meta name="title" content="Pixabay Search">
    <meta name="description" content="Created by Roman Paprotsky">
    <meta name="author" content="Roman Paprotsky"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pixabay-search-703.netlify.app">
    <meta property="og:title" content="Pixabay Search">
    <meta property="og:description" content="Created by Roman Paprotsky">
    <meta property="og:image" content="https://pixabay-search-703.netlify.app/img/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://pixabay-search-703.netlify.app">
    <meta property="twitter:title" content="Pixabay Search">
    <meta property="twitter:description" content="Created by Roman Paprotsky">
    <meta property="twitter:image" content="https://pixabay-search-703.netlify.app/img/banner.png">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
