.text-body-1 {
  font-size: 0.875rem;
}

.image-tag {
  display: inline-block;
  padding: 0 10px;
  margin: 0 0 8px 12px;
  font-size: 13px;
  color: #777;
  border: 1px solid #cecece;
  border-radius: 20px;
  text-transform: lowercase;
}

.tags {
  margin: 10px;
}

.info-line {
  display: flex;
  justify-content: center;
}

.elevation-4 {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

/*** TRANSITIONS ***/
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-leave-to {
  opacity: 0;
}
