<template>
  <div>
    <app-loader v-if="!loaded"/>

    <div v-else>
      <input
        v-model="search"
        @keyup="filterImages"
        placeholder="Type tag name"
        type="text"
      >

      <div v-if="images.length">
        <div class="sort">
          <div>Sort by:</div>
          <div
            @click="sortByLikes"
            :class="{'active-sort' : sortByLikesActive}"
          >likes</div> |
          <div
            @click="sortByComments"
            :class="{'active-sort' : sortByCommentsActive}"
          >comments</div>
        </div>

        <transition-group name="fade" mode="out-in" class="wrapper">
          <template v-for="image in images">
            <image-card
              :image="image"
              :key="image.id"
            ></image-card>
          </template>
        </transition-group>
      </div>

      <div v-else>
        No matching tags found
      </div>
    </div>
  </div>
</template>

<script>
import AppLoader from '@/components/AppLoader.vue'
import ImageCard from '@/components/ImageCard.vue'

export default {
  name: 'Home',

  components: {
    AppLoader,
    ImageCard
  },

  data () {
    return {
      debounceTimeout: null,
      images: [],
      loaded: false,
      search: '',
      sortByCommentsActive: false,
      sortByLikesActive: false,
      unsortedImages: []
    }
  },

  created () {
    this.getImages()
  },

  methods: {
    getImages () {
      return this.$store.dispatch('getImages')
        .then((data) => {
          this.images = data

          this.loaded = true
        })
    },

    filterImages () {
      const self = this
      clearTimeout(this.debounceTimeout)
      this.debounceTimeout = setTimeout(function () {
        if (self.search) {
          self.images = self.$store.state.images.filter(item => {
            return item.tags.toLowerCase().includes(self.search.toLowerCase())
          })
        } else {
          self.images = self.$store.state.images
        }
      }, 300)
    },

    sortByComments () {
      if (this.sortByLikesActive) {
        this.sortByLikesActive = false
        this.images = this.unsortedImages
      }

      this.sortByCommentsActive = !this.sortByCommentsActive

      if (this.sortByCommentsActive) {
        this.unsortedImages = [...this.images]
        this.images = this.images.sort((a, b) => b.comments - a.comments)
      } else {
        this.images = this.unsortedImages
      }
    },

    sortByLikes () {
      if (this.sortByCommentsActive) {
        this.sortByCommentsActive = false
        this.images = this.unsortedImages
      }

      this.sortByLikesActive = !this.sortByLikesActive

      if (this.sortByLikesActive) {
        this.unsortedImages = [...this.images]
        this.images = this.images.sort((a, b) => b.likes - a.likes)
      } else {
        this.images = this.unsortedImages
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  input {
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #eee;
    line-height: 20px;
    font-size: 1rem;
    padding: 8px 0;
    margin: 24px 8px;
    max-width: 250px;
    box-sizing: border-box;
    padding-left: 8px;
    width: 100%;

    &:focus {
      outline: none;
      border:1px solid rgba(2,190,110,.2);
    }
  }

  ::placeholder {
    color: #9e9e9e;
  }

  .sort {
    display: flex;
    justify-content: center;
    margin: 0 30px 20px 30px;

    div {
      margin: 0 4px;
      cursor: pointer;
    }
  }

  .active-sort {
    color: #02be6e;
  }
</style>
