<template>
  <div>
    <img :src="image.largeImageURL" alt="Image not found" class="elevation-4">

    <div class="info-line">
      <image-likes :likes="image.likes"/>
      <image-comments :comments="image.comments"/>
    </div>

    <div class="tags">
      <template v-for="(tag, $index) in tags">
        <image-tag
          :key="$index"
          :tag="tag"
        />
      </template>
    </div>

    <div class="image-info-table">
      <table>
        <tr
          v-for="(val, key, $index) in image"
          :key="$index"
        >
          <td>
            <strong>{{ key }}</strong>
          </td>
          <td>
            {{ val }}
          </td>
        </tr>
      </table>
    </div>

    <router-link to="/">Go Home</router-link>
  </div>
</template>

<script>
import ImageComments from '@/components/ImageComments.vue'
import ImageLikes from '@/components/ImageLikes.vue'
import ImageTag from '@/components/ImageTag.vue'

export default {
  name: 'ImageInfo',

  components: {
    ImageComments,
    ImageLikes,
    ImageTag
  },

  data () {
    return {
      image: {}
    }
  },

  created () {
    this.getImage()
  },

  computed: {
    tags () {
      return this.image.tags?.split(',')
    }
  },

  methods: {
    getImage () {
      this.$store.dispatch('getImage', this.$route.params.id)
        .then((res) => {
          this.image = res
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  img {
    margin: 20px;
    width: 500px;
    max-width: 80%;
  }

  .image-info-table {
    margin: 20px;
    max-width: 80%;
    td {
      text-align: left;
      padding: 8px;
    }
  }
</style>
