<template>
  <router-link
    :to="{
      name: 'imageInfo',
      params: { id: image.id }
    }"
    custom
    v-slot="{ navigate }"
  >
    <div role="link" @click="navigate">
      <img
        :src="image.largeImageURL"
        alt="Image not found"
        loading="lazy"
        class="elevation-4"
      >

      <div class="info-line">
        <image-likes :likes="image.likes"/>
        <image-comments :comments="image.comments"/>
      </div>

      <div class="tags">
        <template v-for="(tag, $index) in tags">
          <image-tag
            :key="$index"
            :tag="tag"
          />
        </template>
      </div>
    </div>
  </router-link>
</template>

<script>
import ImageComments from '@/components/ImageComments.vue'
import ImageLikes from '@/components/ImageLikes.vue'
import ImageTag from '@/components/ImageTag.vue'

export default {
  name: 'ImageCard',

  props: ['image'],

  components: {
    ImageComments,
    ImageLikes,
    ImageTag
  },

  computed: {
    tags () {
      return this.image.tags.split(',')
    }
  }
}
</script>

<style lang="scss" scoped>
  img {
    transition: transform .3s;
    cursor: pointer;
    max-width: 250px;

    &:hover {
      box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important;
      transform: scale(1.02);
      opacity: .8;
    }
  }
</style>
