<template>
  <div>
    <icon-base
      color="#304455"
      class="icon-thumb-up"
    >
      <icon-thumb-up/>
    </icon-base>
    <span class="text-body-1">{{ likes }}</span>
  </div>
</template>

<script>
import IconBase from '@/components/icons/IconBase.vue'
import IconThumbUp from '@/components/icons/IconThumbUp.vue'

export default {
  name: 'ImageLikes',

  props: ['likes'],

  components: {
    IconBase,
    IconThumbUp
  }
}
</script>

<style lang="css" scoped>
  .icon-thumb-up {
    padding-right: 4px;
  }
</style>
