<template>
  <div>
    <icon-base
      color="#304455"
      class="icon-comments"
    >
      <icon-message-circle/>
    </icon-base>
    <span class="text-body-1">{{ comments }}</span>
  </div>
</template>

<script>
import IconBase from '@/components/icons/IconBase.vue'
import IconMessageCircle from '@/components/icons/IconMessageCircle.vue'

export default {
  name: 'ImageComments',

  props: ['comments'],

  components: {
    IconBase,
    IconMessageCircle
  }
}
</script>

<style lang="css" scoped>
  .icon-comments {
    padding-left: 10px;
    padding-right: 4px;
  }
</style>
